Q1. Explain with an example each when to use a for loop and a while loop.

answer1 :  A for  loop is used for itlerate over a sequence (list , tuple , set , dictonary) and in for loop counter are not used.
for example :-

In [2]:
l = ["king" ,"pwskills" ,"babloo"]

In [3]:
for i in l:
    print (i)

king
pwskills
babloo

A while loop is used to execute as a set of statement and in while loop counter are used.

In [4]:
n = 2
i = 1 
while i<= 10:
    result = n*1
    print(n, "*", i, "=" ,result)
    i = i+1

2 * 1 = 2
2 * 2 = 2
2 * 3 = 2
2 * 4 = 2
2 * 5 = 2
2 * 6 = 2
2 * 7 = 2
2 * 8 = 2
2 * 9 = 2
2 * 10 = 2

 Q2 .Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [7]:
sum = 0 
for i in range(1,11):
    sum +=i
    print (sum)

1
3
6
10
15
21
28
36
45
55

In [8]:
product = 0 
for i in range(1,11) :
    product = i
    print(product)

1
2
3
4
5
6
7
8
9
10

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [9]:
s  = "I want to become a data scientist"

In [10]:
s

'I want to become a data scientist'

In [29]:
s.count('a')

4

In [24]:
s.count('e')

3

In [25]:
s.count('i')

2

In [26]:
s.count('o')

2

In [27]:
s.count('u')

0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [32]:
x = []
for i in range (1,101):
      x.append(i**3)
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]